body{
    margin:0;
    font-family: sans-serif;
}
.header{

}
.navbar-style{
    background-color: rgb(4, 4, 31) ;
}

.ul-li-a li{
    list-style: none;
}
.ul-li-a li a{
    text-decoration: none;
}
.image-slider{
    height:450px;
    background-color: rgba(255, 20, 145, 0.13);
}
.image img{
    height:400px;

}
.link a{
    text-decoration: none;
    color:palevioletred;
    font-size: 18px;
}
.link a:hover{
    color:red;
    text-decoration:underline;
}
.button{
    height:30px;
 background-color: 	tomato;
 border-radius: 5px;
 border: 1px solid 	tomato;
 padding:0px 15px 0px 15px;
 text-align: center;
 color:white;
 font-size: 18px;
}
.para-details{
    font-size: 13px;
    color:black;
}
.fab{
    font-size:30px;
}
.fa-facebook{
    color:dodgerblue;
}
.fa-instagram{
    color:goldenrod;
}
.fa-google{
    color:rgb(4, 36, 4);
}
footer{
    background-color: rgb(4, 4, 31);
}
.logo{
    height:100px;
    width:300px;
}
.shadow-class{
    box-shadow: 5px 5px 5px 5px #888888;
}
.para{
    font-size:11px;
}
.para-three{
    font-size: 12px;
}
.para-three a{
    text-decoration: none;
}
.para-two{
    font-size:13px;
}
.need-help{
    text-decoration: none;
    margin-top: 40px;
}
.desc a{
    text-decoration: none;
   font-size: 11px;
}
.card-style{
    border-radius: ;
}
.far{
    font-size: 16px;
    color: darkgoldenrod;
}